.DS_Store
*/.DS_Store

pslab-bootloader.X/.generated_files
pslab-bootloader.X/build
pslab-bootloader.X/dist

pslab-bootloader.X/nbproject/Makefile-*
pslab-bootloader.X/nbproject/Package-*
pslab-bootloader.X/nbproject/private

pslab-core.X/.generated_files
pslab-core.X/build
pslab-core.X/dist

pslab-core.X/nbproject/Makefile-*
pslab-core.X/nbproject/Package-*
pslab-core.X/nbproject/private

*.dump
pslab-core.X/.vscode/*
