[submodule "pslab-core.X/external/cmake-microchip"]
	path = pslab-core.X/external/cmake-microchip
	url = https://github.com/Elemecca/cmake-microchip.git
[submodule "pslab-bootloader.X/external/cmake-microchip"]
	path = pslab-bootloader.X/external/cmake-microchip
	url = https://github.com/Elemecca/cmake-microchip.git
