[submodule "firmware/external/cmake-microchip"]
	path = firmware/external/cmake-microchip
	url = https://github.com/fossasia/cmake-microchip
[submodule "bootloader/external/cmake-microchip"]
	path = bootloader/external/cmake-microchip
	url = https://github.com/fossasia/cmake-microchip
