/PSLab_Original/nbproject/private/
/PSLab_Original/build/default/
/PSLab_Original/dist/default/
/MPLABProject/nbproject/private/
/MPLABProject/build/default/
/PSLab_Original/nbproject/Makefile-genesis.properties
